asgiref==3.8.1
async-timeout==5.0.1
attrs==24.2.0
beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.4.0
contourpy==1.3.1
crispy==0.8.0
crispy-bootstrap5==2024.10
cycler==0.12.1
Django>=5.1.12
django-cors-headers==4.6.0
django-crispy-forms==2.3
django-db-mutex==3.1.0
django-environ==0.11.2
django-extensions==3.2.3
django-filter==24.3
django-group-access==1.1.17
django-jsonform==2.23.1
djangorestframework==3.15.2
fabio==2024.9.0
fonttools==4.55.2
greenlet==3.1.1
h5py==3.12.1
hdf5plugin==5.0.0
idna==3.10
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.7
lxml==5.3.0
matplotlib==3.9.3
numpy==2.1.3
packaging==24.2
pillow==11.0.0
platformdirs==4.3.6
polib==1.2.0
prompt_toolkit==3.0.48
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyparsing==3.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.16.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
referencing==0.35.1
requests==2.32.3
rpds-py==0.22.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
schedule==1.2.2
scipy==1.14.1
sendmail==2.0
silx==2.1.2
six==1.17.0
soupsieve==2.6
SQLAlchemy==2.0.36
sqlparse==0.5.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.6.0
wcwidth==0.2.13
xraydb==4.5.4
