{% extends 'core/base.html' %}
{% block title %}Reset Password - {% endblock %}
{% load crispy_forms_tags %}
{% block header %}
{% endblock %}
{% block content %}
        <form class="dark-box" id="forgot-form" method="post">
            {% csrf_token %}
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration"><ion-icon name="bulb-outline"></div>
{% if form.non_field_errors %}
            <div class="alert alert-danger">
{% for error in form.non_field_errors %}
            {{ error }}
{% endfor %}
            </div>
{% endif %}
{% if user.is_authenticated %}
            <div class="form-row"><input class="form-control" type="password" name="old_password" id="old_password" placeholder="Current Password" autofocus></div>
{% else %}
            <div class="form-row"><input class="form-control" type="text" name="email" id="email" placeholder="Email Address" autofocus></div>
{% endif %}
            <div class="form-row"><input class="form-control" type="password" name="new_password1" id="new_password1" placeholder="New Password"></div>
            <div class="form-row"><input class="form-control" type="password" name="new_password2" id="new_password2" placeholder="Confirm Password"></div>
            <div class="form-row"><button class="btn btn-primary col-12" type="submit">Reset Password</button></div>
            <div class="form-row"><a href="{% url 'auth_user_profile_view' %}" class="btn btn-secondary col-12">Cancel</a></div>
{% if user.is_authenticated is False %}
            <a href="{% url 'auth_login' %}" class="forgot">Already know your login details?</a>
{% endif %}
        </form>
{% endblock %}
{% block postfooter %}
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}
