{% extends 'core/base.html' %}
{% block title %}Login - {% endblock %}
{% load crispy_forms_tags %}
{% block header %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}
{% block content %}
        <form class="dark-box" id="login-form" method="post">
            {% csrf_token %}
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-row"><input class="form-control" type="text" name="username" id="username" placeholder="Username" autofocus></div>
            <div class="form-row"><input class="form-control" type="password" name="password" id="password" placeholder="Password"></div>
            <div class="form-row"><button class="btn btn-primary col-12" type="submit">Log In</button></div>
            <a href="{% url 'auth_forgot_password' %}" class="forgot">Forgot your email or password?</a>
        </form>
{% endblock %}
