{% extends 'core/base.html' %}
{% load renderers %}
{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <form class="dark-box" id="{{ form.id }}" method="post">
            {% if illustration %}
            <div class="illustration"><i class="{{ illustration }}"></i></div>
            {% endif %}
            {% if title %}<h3 class="{% if title_class %}{{ title_class }}{% else %}visually-hidden{% endif %}">{{ title }}</h3>{% endif %}
            {% if preamble %}
            <div class="{% if preamble_class %}{{ preamble_class }}{% else %}form-row preamble{% endif %}">{{ preamble }}</div>
            {% endif %}
            {% csrf_token %}
            {% for layout in form.layout %}
            {% render_fields layout.renderer layout.fields %}
            {% endfor %}
            {% for field in form.hidden_fields %}
            {{ field }}
            {% endfor %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-error">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% render_buttons buttons %}
            {% if footer %}
            <div class="form-row">
                {{ footer | safe }}
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
{% block postfooter %}
<script>
    $(document).ready(function() {
        var autofocusElement = $("input[autofocus]:first");

        // Check if autofocusElement exists before proceeding
        if (autofocusElement.length > 0) {
            autofocusElement.focus();

            // Check if the element has the select method before calling it
            if ($.isFunction(autofocusElement.get(0).select)) {
                autofocusElement.select();
            }
        }
    });
</script>
{% endblock %}
