{% extends 'core/base.html' %}
{% load renderers %}
{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <form class="dark-box" id="{{ form.id }}" method="post">
            {% if illustration %}
            <div class="illustration"><i class="{{ illustration }}"></i></div>
            {% endif %}
            {% if title %}<h3 class="{% if title_class %}{{ title_class }}{% else %}visually-hidden{% endif %}">{{ title }}</h3>{% endif %}
            {% if preamble %}
            <div class="{% if preamble_class %}{{ preamble_class }}{% else %}form-row preamble{% endif %}">{{ preamble }}</div>
            {% endif %}
            {% csrf_token %}
            {% for layout in form.layout %}
            {% render_fields layout.renderer layout.fields %}
            {% endfor %}
            {% for field in form.hidden_fields %}
            {{ field }}
            {% endfor %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-error">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% render_buttons buttons %}
            {% if footer %}
            <div class="form-row">
                {{ footer | safe }}
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
{% block postfooter %}
<script>

const optInputs = document.querySelectorAll('.form-control.otp')
const otpSubmitButton = document.querySelector('#submit')

let currentElement = document.activeElement

function is_key_ok(e) {
    var k = e.keyCode || e.which;
        var ok = k >= 65 && k <= 90 || // a-z
            k >= 96 && k <= 105 || // A-Z
            k == 13 || // enter
            k == 8 || // backspaces
            (!e.shiftKey && k >= 48 && k <= 57); // only 0-9 (ignore SHIFT options)

        if(!ok || (e.ctrlKey && e.altKey)) {
            return false;
        }

        return true;
}

optInputs.forEach(input => {
    let status = 0

    input.onfocus = (e) => {
        if(currentElement) {
            currentElement.focus();
            e.preventDefault();
        }
    }

    input.onkeydown = (e) => {
        if(!is_key_ok(e)) {
            e.preventDefault();
            return;
        }
    }

    input.onkeyup = (e) => {
        if(!is_key_ok(e)) {
            e.preventDefault();
            return;
        }

        const nextElement = input.nextElementSibling
        const prevElement = input.previousElementSibling

        currentElement = e.target

        if(e.keyCode === 8) {
            if(status === 2) {
                currentElement.value = ''
                status = 1
                otpSubmitButton.setAttribute('disabled', true)
            } else if(prevElement) {
                currentElement = prevElement
                prevElement.value = ''
                prevElement.focus()
                status = 1
                otpSubmitButton.setAttribute('disabled', true)
            } else {
                status = 0
            }
        } else {
            const reg = /^[0-9a-zA-Z]+$/
            if(!reg.test(currentElement.value)) {
                currentElement.value = currentElement.value.replace(/\D/g, '')
            } else {
                currentElement.value = currentElement.value.toUpperCase()
                if(currentElement) {
                    if(nextElement) {
                        currentElement = nextElement
                        nextElement.focus()
                    } else {
                        otpSubmitButton.removeAttribute('disabled')
                        status = 2
                    }
                }
            }
        }
    }
})
</script>
{% endblock %}
