@import url('https://fonts.googleapis.com/css2?family=Poppins');

*
{
    --bs-button-padding-x: 400px;

    --color-default: #fff;
    --color-opaque: #a5aab0;
    --color-disabled: rgba(255, 255, 255, 0.15);
    --color-disabled-highlight: #888;
    --color-background: #1d2b3a;
    --color-icons: #00dfc4;
    --color-error: #be4d25;
    --color-checkbox-disabled: var(--color-disabled-highlight);
    --color-checkbox-background-disabled: var(--color-disabled);
    --color-checkbox-off: var(--color-default);
    --color-checkbox-on: var(--color-default);
    --color-checkbox-background: rgba(255, 255, 255, 0.5);

    --icon-scale-factor: 0.5;
    --form-icon-dimension: 70px;
    --login-icon-dimension: calc(var(--form-icon-dimension) * var(--icon-scale-factor));

    color: var(--color-default);
}

*, *::before, *::after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Scrollbars */
/* 
html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
} */

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--color-background);
}

.divider::after {
    content: '|';
    color: var(--color-disabled);
    vertical-align: middle;
    margin-left: 12px;
    margin-right: 8px;
}

.session-info {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center; /* Vertically center items */
    height: var(--login-icon-dimension);
    min-width: var(--login-icon-dimension);
    margin-top: 12px;
    margin-right: 5px;
}

.lock-info {
    text-align: right;
    overflow: hidden;
    visibility: hidden;
}

.user-info {
    overflow: hidden;
}

#user-settings
{
    margin-left: 5px;
}

.session-icon {
    width: var(--login-icon-dimension);
    height: var(--login-icon-dimension);
    color: var(--color-icons);
}

input[type="checkbox"]
,input[type="radio"]
{
    display: none;
}

textarea
{
    resize: none;
}

.container-lg
{
    min-width: 360px;
}

#login-form
{
    max-width: 400px;
}

.form-icon {
    width: var(--form-icon-dimension);
    height: var(--form-icon-dimension);
    color: var(--color-icons);
}

.button-row
{
    margin-left: 0;
    margin-right: 0;
}

.input-box
{
    position: relative;
}

.input-box input
,.input-box textarea
{
    padding: 15px 20px;
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    border-radius: 5px;
    color: var(--color-default);
    border: 1px solid var(--color-opaque);
    font-size: 1em;
}

.input-box input:not(:placeholder-shown):valid
,.input-box textarea:not(:placeholder-shown):valid
{
    border-color: var(--color-icons);
}

.input-box span
{
    position: absolute;
    left: 0;
    padding: 15px 25px;
    pointer-events: none;
    font-size: 1em;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    /* User cannot select the span */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -ms-user-select: none;
}

.input-box input:focus ~ span
,.input-box input:disabled ~ span
,.input-box input:not(:placeholder-shown):valid ~ span
,.input-box textarea:focus ~ span
,.input-box textarea:not(:placeholder-shown):valid ~ span
,.input-box textarea:disabled ~ span
{
    color: var(--color-background);
    font-size: 0.75em;
    transform: translateX(25px) translateY(-7px);
    padding: 0 5px;
    background-color: var(--color-icons);
    border-radius: 2px;
}

.input-box.error input
,.input-box.error input:not(:placeholder-shown):valid
,.input-box.error textarea
{
    border-color: var(--color-error);
}

.input-box.error input ~ span
,.input-box.error textarea ~ span
{
    color: var(--color-error);
}

.input-box.error input:focus ~ span
,.input-box.error textarea:focus ~ span
{
    color: var(--color-default);
    background-color: var(--color-error);
}

.input-box.error input:not(:placeholder-shown):valid ~ span
,.input-box.error textarea:not(:placeholder-shown):valid ~ span
{
    color: var(--color-default);
    background-color: var(--color-error);
}

.input-text-button
{
    position: absolute;
    transform: translateY(-50%);
    top: 55%;
    right: 30px;
    cursor: pointer;
}

.input-box .input-text-button ion-icon {
    position: relative;
    width: 30px;
    height: 30px;
}

.input-box input:valid ~ .input-text-button ion-icon
{
        color: var(--color-icons);
}

.input-box.error input:focus ~ .input-text-button ion-icon
,.input-box.error input:valid ~ .input-text-button ion-icon
{
    color: var(--color-error);
}

.input-box.error .input-text-button ion-icon
{
    color: var(--color-error);
}

.btn
{
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.btn + .btn
{
    margin-top: 20px;
}

a.btn
{
    padding-top: 12px;
}

a:not(.btn)
{
    text-decoration: none;
    color: var(--color-icons);
}

.postmark
{
    margin-top: 2em !important;
    text-align: center;
}

.input-box input[type="password"]
{
    height: 56px;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: 0.15em;
}

.label-checkbox-switch
{
    /* toggle in video */
    --width: 40px;
    --height: calc(var(--width) / 2);
    --border-radius: calc(var(--height) / 2);

    display: inline-block;
    cursor: pointer;
}

.input-checkbox-fill
{
    /* toggle__fill in video */
    position: relative;
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    background: var(--color-opaque);
    transition: background 0.2s ease-in-out;
}

.input-checkbox-switch
{
    /* toggle__input in video */
    display: inherit;
}

.input-checkbox-switch:checked ~ .input-checkbox-fill
{
    background: var(--color-icons);
}

.input-checkbox-switch ~ .input-checkbox-fill
{
    background: var(--color-checkbox-background);
}

.input-checkbox-switch:disabled ~ .input-checkbox-fill
{
    background: var(--color-checkbox-background-disabled);
}

.input-checkbox-fill::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height);
    width: var(--height);
    background: var(--color-checkbox-off);
    border-radius: var(--border-radius);
    transition: transform 0.2s ease-in-out;
}

.input-checkbox-switch:checked ~ .input-checkbox-fill::after
{
    content: '';
    transform: translateX(var(--height));
    background: var(--color-checkbox-on);
}

.input-checkbox-switch:disabled ~ .input-checkbox-fill::after
{
    background: var(--color-checkbox-disabled);
}

.label-checkbox
{
    position: absolute;
    top: 0;
    left: calc(var(--width) + var(--bs-gutter-x) + 15px);
}

.label-checkbox-switch.error .label-checkbox
{
    color: var(--color-error);
}

.input-box input:required ~ .required
,.input-box textarea:required ~ .required
{
    --dimension: 15px;

    position: absolute;
    top: -5px;
    right: calc(var(--dimension)/2);
    width: var(--dimension);
    height: var(--dimension);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: var(--color-error);
    content: '';
}

.label-radio
{
    text-transform: capitalize;
    display: flex;
    vertical-align: middle;
    color: #fff;
    position: relative;
    padding-left: calc(25px + var(--bs-gutter-x));
    margin-left: 20px;
}

.label-radio:not(:first-of-type) {
    margin-top: 19px;
}

.label-radio span.radio-check
{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid var(--color-checkbox-background);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.label-radio span.radio-check:after
{
    content: '';
    height: 8px;
    width: 8px;
    background: var(--color-icons);
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    border-radius: 50%;
    transition: 0.1s ease-in-out 0s;
}

.label-radio input[type='radio']:checked ~ span.radio-check
{
    border: 3px solid var(--color-icons);
}

.label-radio input[type='radio']:checked ~ span.radio-check:after
{
    transform: translate(-50%,-50%) scale(1);
}







@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake-animation {
    animation-name: shake;
    animation-duration: 0.3s;
    animation-iteration-count: 2;
}

.icon-login-animation {
    animation-iteration-count: 1;
    transform-origin: top right;
    transition: transform 1s ease-in-out;
}
