{% with rdata=field.field.widget.attrs.rdata %}{% if rdata %}
<div class="{{ rdata.row_class|default:'row form-row mb-3' }}">
    <div class="{{ rdata.box_class|default:'input-box' }}">{% else %}
<div class="row form-row mb-3">
    <div class="input-box">{% endif %}
            <input type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" name="{{ field.name }}"{% for key, val in field.field.widget.attrs.items %}{% if key != 'rdata' %}{{ key }}="{{ val }}"{% endif %}{% endfor %}/>
            <span>{{ field.name }}</span>
            <div class="input-text-button"><ion-icon name="eye-outline" id="{{ field.id_for_label }}-toggle" onclick="show_hide(this, '{{ field.id_for_label }}', 4);"></ion-icon></div>{% if field.field.required %}
            <div class="required"></div>{% endif %}
        </div>
    </div>{% endwith %}