{% load i18n filters simple_tags %}{% if user.is_authenticated %}{% setvar user.username as username %}{% setvar '' as disabled %}{% setvar 'open' as iconname %}{% else %}{% setvar _('guest') as username %}{% setvar 'disabled' as disabled %}{% setvar 'closed' as iconname %}{% endif %}<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" href="/static/web/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/web/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet prefetch" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/web/css/warehauser.css">
</head>
<body data-dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
    <header id="header" class="p-0 text-bg-dark sticky-top">
        <div class="container-lg">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Warehauser</a>
                    <ul class="navbar-nav ms-auto">
                        <li id="session-info" class="nav-item">
{% url 'auth_user_profile_view' as urlprofile %}
{% with url=urlprofile %}
{% if LANGUAGE_BIDI %}
                            <span id="username" class="navbar-text">
                                <a id="link-username" class="nav-text{% if not user.is_authenticated %} disabled-link{% endif %}" href="{{ url }}">
                                    {{ username }}
                                </a>
                            </span>
                            <span id="welcomeText" class="navbar-text">{% trans _('Welcome,') %}</span>
{% else %}
                            <span id="welcomeText" class="navbar-text">{% trans _('Welcome,') %}</span>
                            <span id="username" class="navbar-text">
                                <a id="link-username" class="nav-text{% if not user.is_authenticated %} disabled-link{% endif %}" href="{{ url }}">
                                    {{ username }}
                                </a>
                            </span>
{% endif %}
{% endwith %}
                            <span id="session-info-divider" class="divider"></span>
                            <a id="link-logout" class="nav-text {{ disabled }}" href="{% url 'auth_logout_view' %}"{% if user.is_authenticated %} title="{% trans "Logout" %}"{% else %} title="{% trans "Login" %}"{% endif %}><ion-icon id="user-icon" name="lock-{{ iconname }}-outline" class="md hydrated"></ion-icon></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div id="staging-area" class="staging text-center"></div>
        <div id="modal-container" class="text-center fade show"></div>
    </main>
    <footer></footer>

    <!-- ION ICON JS -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <script src="/static/web/js/warehauser.js"></script>
    <script type="text/javascript">

document.addEventListener('DOMContentLoaded', async () => {
//    await loadUrl('#staging-area', '/auth/login/');

//    let modal = document.getElementById('modal-login');
//    initModal(modal);
//    animateRevealElement(modal, modalContainer);

    await loadUrl('#staging-area', '/testform/');

    let modal = document.getElementById('modal-testform');
    initModal(modal);
    animateRevealElement(modal, modalContainer);
});
</script>
</body>
</html>
