{% load i18n %}{% load simple_tags %}
<div {% render_attrs modal.attrs %}>
  <div class="modal-dialog" role="document">
    <div {% render_attrs content.attrs %}>
      <div class="modal-header">
        <div class="w-100 text-center">
{% if header.icon %}
          <ion-icon class="form-icon mt-4" name="{{ header.icon }}"></ion-icon>
{% endif %}
{% if header.heading %}
          <h2 class="modal-title">{{ header.heading }}</h2>
{% endif %}
{% if header.slug %}
          <p class="modal-header-slug">{{ header.slug }}</p>
{% endif %}
        </div>
      </div>
      <div class="modal-body">
{% if form %}
{% include "web/forms/form.html" %}
{% elif content.template %}
{% include content.template %}
{% endif %}
      </div>
      <div class="modal-footer">{% if footer %}
        {{ footer }}
      {% endif %}</div>
    </div>
  </div>
</div>
{% if scripts %}
{% for script in scripts %}
{% if script.template %}
{% include script.template %}
{% else %}
<script{% if script.attrs %} {% render_attrs script.attrs %}{% endif %}>{% if script.content %}{{ script.content|safe }}{% endif %}</script>
{% endif %}
{% endfor %}
{% endif %}
